/* Maquetado con una pantalla de 1180px como referencia. 
Más hincapié en aprender a maquetar.
Siguiente paso: Responsive */

*{
    margin:0;
    padding:0;
}

body{
    width:80%;
}

header {
   background-image:url("https://wallpaperaccess.com/full/1554619.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   background-position:center center;
   height:500px;
}

.nav_menu{
    display:flex;
    height:106px;
}

.line{
    width:68%;
    height:80px;
    margin-left:12%;
    border-bottom:solid 1px white;
}

.div_menu{
    padding:31.5px 0px;
    margin-left:0;
}

div span{
    margin:10px;
    color:white;
    font-size:15px;
}

.resize{
    height:76%;
}

.botHeader{
    display:flex;
    flex-direction:column;
    margin-top:0px;
    margin-left:30px;
}

.botHeader p {
    color:white;
}

.fontA{
    font-size:30px;
    margin-top:20px;
    margin-bottom:252px;
    text-align:center;
    text-shadow:0 0 7px #fff;
}
.fontN{
    font-size:16px;
    margin-bottom:10px;
}

.buttonD{
    background-color:mediumblue;
    color:white;
    width:120px;
    height:30px;
}

.buttonD:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

ul{
    list-style-type:none;
}

#shop{
    display:flex;
    justify-content:center;
    margin-top:50px;
}

#shop ul{
    border-bottom:solid 1px grey;
    max-width:617px;
}

#shop li{
    display:inline-block;
    margin:0 10px;
    height:35px;
    width:50px;
    text-align:center;
}

#shop li:hover{
    color:blue;
    font-weight:bold;
    border-bottom:solid 1px blue;
}

.shopDiv{
    width:70%;
}

.organize{
    display:flex;
    flex-wrap:wrap;
}

.carresize{
    margin: 20px 10px;
    height: auto;
    width: 131px;
    max-width:131px;
}

.imgResize{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;  
}

.carresize p:nth-child(2) {
    font-size:15px;
    font-weight:bold;
}

.carresize p:last-child {
    font-size:10px;
    color:grey;
}

#quick {
    display:flex;
    justify-content:center;
    margin-top:50px;
}

.quickDiv{
    display:flex;
    width:70%;
}

.divB{
    margin:0 6px;
}

.quickButton{
    width:140px;
    height:90px;
}

i {
    font-size:20px;
}

.divB p{
    margin-top:10px;
}

footer{
    display:flex;
    justify-content: center;
    background-color:#E6E6E6;
    margin-top:50px;
    padding:55px;
}

.lineFooter{
    display:flex;
    justify-content: space-between;
    border-top:solid 1px black;
}

footer ul{
    margin:20px 45px;
}

footer li{
    margin:5px 0;
}

footer ul li:first-child {
    font-weight:bold;
    margin-bottom:20px;
}